@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matemasie&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header {
    background: url("../img/BG_img.jpg") no-repeat;
}

.burger__menu {
    display: none;
}

.header__menu {
    display: flex;
    padding: 64px 69px 0 91px;
    justify-content: space-between;
}

.logo {
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 0.01em;
}

.nav {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.account {
    display: flex;
    align-items: center;
    gap: 7px;
}

.account__img {
    width: 20px;
    height: 20px;
}

.account > a {
    font-size: 17px;
}

.burger {
    display: none;
}

.slider {
    display: flex;
    padding: 186px 69px 1188px 64px;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    gap: 20px;
}

.social__icon {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
}

.inst {
    background: url("../img/icons/inst_icon.svg") no-repeat;
    background-position: center;
}

.twit {
    background: url("../img/icons/twit_icon.svg") no-repeat;
    background-position: center;
}

.slider__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 950px;
}

.section__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.33em;
    margin-left: 104px;
    color: #fbd784;
    position: relative;
}

.section__title::before {
    content: "";
    width: 72px;
    height: 2px;
    background: #fbd784;
    position: absolute;
    top: 10px;
    left: -104px;
}

.slider__title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 88px;
    line-height: 114%;
    text-transform: capitalize;
}

.slider__scroll {
    position: relative;
}

.slider__scroll::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 24px;
    background: url("../img/icons/arrow_downward.svg");
    margin-left: 4px;
}

.slider__pages {
    display: flex;
    flex-direction: column;
}

.slider__page {
    display: flex;
    align-items: center;
}

.slider__page label {
    border-right: 3px solid #ffffff75;
    display: inline-block;
    height: 60px;
    align-content: center;
    padding-right: 28px;
    min-width: 77px;
    text-align: right;
}

.slider__page input[type="radio"] {
    display: none;
}

.slider__page input[type="radio"]:checked + label {
    border-right: 3px solid #ffffff;
}

.wrapper {
    position: absolute;
    z-index: 1;
    top: 1200px;
    background: linear-gradient(180deg, rgba(11.48, 29.32, 38.25, 0) 0%, #0b1d26 15%);
}

.main {
    display: flex;
    flex-direction: column;
    margin-left: 229px;
    margin-right: 213px;
    margin-top: 240px;
    gap: 200px;
}

.guide {
    display: flex;
}

.guide:nth-child(even) {
    flex-direction: row-reverse;
}

.guide__content {
    display: flex;
    flex-direction: column;
    margin: 190px 125px 65px 134px;
    gap: 27px;
    position: relative;
}

.guide:nth-child(even) > .guide__content {
    margin: 170px 0 0 264px;
}

.guide__number {
    font-size: 240px;
    opacity: 0.1;
    line-height: 100%;
    position: absolute;
    top: -150px;
    left: -135px;
}

.guide__title {
    font-weight: 600;
    font-size: 64px;
    max-width: 550px;
}

.guide__text {
    line-height: 178%;
}

.guide__img {
    width: 566px;
    height: 720px;
}

.guide__link {
    color: #fbd784;
    position: relative;
}

.guide__link::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 24px;
    background: url("../img/icons/arrow_link.svg") no-repeat;
    background-size: contain;
    margin-left: 6px;
    top: 5px;
}

.footer {
    margin: 200px 213px 120px 229px;
    display: flex;
    gap: 196px;
}

.company {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.company__text {
    margin-top: 19px;
    max-width: 365px;
    font-weight: 600;
    line-height: 178%;
}

.copyright {
    margin-top: 122px;
    font-weight: 400;
    line-height: 178%;
    opacity: 0.5;
}

.mobile {
    display: none;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #fbd784;
}

@media (max-width: 1536px) {
    .main {
        margin-left: 138px;
        margin-right: 138px;
    }

    .guide__content {
        margin: 205px 68px 43px 72px;
    }

    .guide:nth-child(even) > .guide__content {
        margin: 172px 0 73px 183px;
    }

    .guide__number {
        top: -164px;
        left: -75px;
    }

    .guide__img {
        width: 488px;
        height: 765px;
    }
}

@media (max-width: 1024px) {
    .header__menu {
        padding: 64px 62px 0 61px;
    }

    .slider {
        padding: 204px 48px 1188px 0px;
    }

    .social {
        min-width: 173px;
    }
    .slider__content {
        max-width: 653px;
    }

    .slider__title {
        font-size: 60px;
        line-height: 167%;
        text-transform: capitalize;
    }

    .wrapper {
        position: absolute;
        z-index: 1;
        top: 1303px;
        background: linear-gradient(180deg, rgba(11.48, 29.32, 38.25, 0) 0%, #0b1d26 7%);
    }

    .main {
        margin-left: 32px;
        margin-right: 32px;
    }

    .guide {
        flex-direction: column;
    }

    .guide:nth-child(even) {
        flex-direction: column;
    }

    .guide__content {
        margin: 214px 135px 69px 100px;
    }

    .guide:nth-child(even) > .guide__content {
        margin: 214px 135px 69px 100px;
    }

    .guide__number {
        top: -135px;
        left: -20px;
    }

    .guide__title {
        font-weight: 600;
        font-size: 64px;
        max-width: 550px;
    }

    .guide__text {
        line-height: 178%;
        width: 725px;
    }

    .guide__img {
        width: 860px;
        height: 982px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 78px;
    }

    .footer {
        margin: 77px 32px 72px 32px;
        gap: 57px;
    }

    .company__text {
        font-size: 16px;
    }

    .copyright {
        font-size: 16px;
    }

    .footer__links > a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .burger__menu {
        background: #fff;
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 68px;
        padding: 64px 67px 65px 61px;
        top: -1000px;
        transition: top 0.6s;
        z-index: 3;
    }

    .burger__social {
        display: none;
    }

    .active {
        top: 0;
    }

    .burger__header,
    .burger__links {
        display: flex;
        justify-content: space-between;
    }

    .burger__menu > .burger__header > a > .logo {
        color: #0b1d26;
    }

    .close {
        width: 37px;
        height: 37px;
        background: url("../img/icons/close.svg") no-repeat;
    }

    .nav_mobile {
        display: flex;
        gap: 41px;
    }

    .nav_mobile > a {
        color: #0b1d26;
    }

    .burger__menu > .burger__links > .account {
        display: flex;
    }

    .burger__menu > .burger__links > .account > a {
        color: #0b1d26;
    }

    .nav {
        display: none;
    }

    .account {
        display: none;
    }

    .burger {
        display: block;
        width: 40px;
        height: 37px;
        background: url("../img/icons/menu.svg") no-repeat;
    }

    .slider {
        padding: 164px 48px 1188px 0px;
    }

    .slider__content {
        max-width: 517px;
    }

    .slider__title {
        font-size: 43px;
        line-height: 227%;
    }

    .slider__page label {
        font-size: 16px;
    }

    .guide__content {
        margin: 161px 35px 45px 35px;
    }

    .guide:nth-child(even) > .guide__content {
        margin: 161px 35px 45px 35px;
    }

    .guide__number {
        top: -175px;
        left: -20px;
    }

    .guide__title {
        font-weight: 600;
        font-size: 40px;
        max-width: 550px;
    }

    .guide__text {
        font-size: 16px;
        line-height: 200%;
        width: 632px;
    }

    .guide__img {
        width: 704px;
        height: 934px;
        margin: 0;
    }

    .footer {
        margin: 95px 35px 38px 29px;
        gap: 0;
        justify-content: space-between;
    }

    .company {
        flex: 0;
    }

    .company__text {
        width: 263px;
    }

    .copyright {
        font-size: 14px;
        width: 293px;
    }
}

@media (max-width: 480px) {
    .burger__menu {
        gap: 66px;
        padding: 64px 41px 57px 38px;
    }

    .nav_mobile {
        flex-direction: column;
        gap: 15px;
    }

    .burger__menu > .burger__links > .account {
        align-self: start;
    }

    .header {
        background-position: 50%;
    }

    .slider {
        display: grid;
        padding: 57px 28px 694px 20px;
        grid-template-columns: 1fr 0.5fr 0.3fr;
        grid-template-rows: 0.3fr 1fr;
        grid-row-gap: 35px;
        grid-template-areas: ". s s" "sc sc sp";
    }

    .social {
        transform: rotate(0);
        grid-area: s;
        min-width: 146px;
        gap: 0;
        justify-content: space-between;
    }

    .social__icon {
        transform: rotate(0);
    }

    .slider__content {
        grid-area: sc;
        max-width: 334px;
    }

    .slider__title {
        line-height: 159%;
    }

    .slider__pages {
        grid-area: sp;
    }

    .wrapper {
        top: 935px;
        background: linear-gradient(180deg, rgba(11.48, 29.32, 38.25, 0) 0%, #0b1d26 8%);
    }

    .main {
        margin-left: 20px;
        margin-right: 20px;
    }

    .guide__content {
        margin: 86px 0px 44px 0px;
    }

    .guide:nth-child(even) > .guide__content {
        margin: 86px 0px 44px 0px;
    }

    .guide__number {
        top: -90px;
        left: -20px;
        font-size: 140px;
    }

    .guide__title {
        font-weight: 600;
        font-size: 30px;
        max-width: 440px;
    }

    .guide__text {
        font-size: 16px;
        line-height: 200%;
        width: 440px;
    }

    .guide__img {
        width: 440px;
        height: 509px;
    }

    .footer {
        margin: 114px 20px 57px 20px;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
    }

    .company__text {
        min-width: 440px;
        font-size: 12px;
    }

    .copyright {
        display: none;
    }
    .mobile {
        display: block;
        margin-top: 0;
    }
}

@media (max-width: 320px) {
    .burger__menu {
        gap: 48px;
        padding: 50px 24px 50px 24px;
    }
    
    .burger__links {
        flex-direction: column;
        gap: 40px;
        max-width: 136px;
    }

    .burger__social {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 16px;
        transform: rotate(90deg);
        top: 240px;
        left: 204px;
        min-width: 160px;
    }

    .burger__social > span {
        color: #0b1d26;
    }

    .burger__icon {
        width: 20px;
        height: 20px;
        transform: rotate(-90deg);
    }

    .inst_black {
        background: url('../img/icons/inst_black.svg') no-repeat;
        background-position: center;
    }

    .twit_black {
        background: url('../img/icons/twit_black.svg') no-repeat;
        background-position: center;
    }


    .header__menu {
        padding: 61px 10px 0 10px;
    }

    .slider {
        padding: 68px 10px 694px 10px;
    }

    .slider__content {
        grid-area: sc;
        max-width: 300px;
    }

    .section__title {
        font-size: 12px;
        letter-spacing: 0.5em;
        font-weight: 600;
        min-width: 176px;
    }

    .slider__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 150%;
    }
    .slider__scroll {
        margin-top: 136px;
    }
    .slider__pages {
        margin-top: 125px;
    }
    .wrapper {
        top: 717px;
        background: linear-gradient(180deg, rgba(11.48, 29.32, 38.25, 0) 0%, #0b1d26 5%);
    }
    .main {
        margin-left: 10px;
        margin-right: 10px;
    }

    .guide__number {
        left: -10px;
    }

    .guide__title {
        font-size: 24px;
        max-width: 300px;
    }

    .guide__text {
        font-size: 14px;
        width: 300px;
    }

    .guide__img {
        width: 300px;
        height: 400px;
    }

    .footer {
        margin: 79px 10px 26px 10px;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
    }

    .company__text {
        min-width: 300px;
        font-size: 12px;
    }

    .copyright {
        display: none;
    }
    .mobile {
        display: block;
        margin-top: 0;
    }
}
